h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

#title {
    background-color: #fc8210;
    color: #fff;
    padding: 2% 8% 5%;
}

.navbar_logo {
    width: 10%;
    transform: scale(-1, 1);
    margin-right: 5px;
}

#catchword {
    color: #007892;
}

/* .title_content {

} */

.title_image {
    width: 100%;
    border-radius: 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Features */

#features{
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

.features_p{
    color: #8f8f8f;
}

.features_div{
    text-align: center;
    padding: 5%;
}

.features_icon{
    color: #ff427f;
    margin-bottom: 1rem;
}

.features_icon:hover{
    color: #ffd8a6;
}

/* Testimonials */

#testimonials{
    text-align: center;
    background-color: #fc8210;
    color: #fff;
}

.testimonial-image{
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 10%;
}

/* Footer */

#footer{
    padding: 7% 10%;
    text-align: center;
}

.social_icon{
    font-size: 2rem;
    margin: 20px 10px;
    color: #ff427f;
}

.social_icon:hover{
    color: #ffd8a6;
    font-weight: bold;
}

.social_p{
    color: #8f8f8f;
}